In [1]:
import pandas as pd

# check recommendations

movies_sim = pd.read_csv('./data/movies_sim.csv')
movies_data = pd.read_csv('./data/movies_data.csv')

def movie_recommender(movieId):
    df = movies_sim.loc[movies_sim.index == movieId].reset_index(). \
            melt(id_vars='movieId', var_name='sim_moveId',              value_name='relevance'). \
            sort_values('relevance', axis=0, ascending=False)[1:6]
    df['sim_moveId'] = df['sim_moveId'].astype(int)
    sim_df = movies_data.merge(df, left_on='movieId', right_on='sim_moveId', how='inner'). \
                sort_values('relevance', axis=0, ascending=False). \
                loc[: , ['movieId_y','title','genres']]. \
                rename(columns={ 'movieId_y': "movieId" })
    return sim_df

   movieId     73268     73319     73321     73744     73929     74115  \
0    73268  1.000000  0.492341  0.782253  0.313622  0.811349  0.313617
1    73319  0.492341  1.000000  0.494833  0.349440  0.496023  0.247331
2    73321  0.782253  0.494833  1.000000  0.317145  0.698595  0.317135
3    73744  0.313622  0.349440  0.317145  0.500000  0.247007  0.249998
4    73929  0.811349  0.496023  0.698595  0.247007  1.000000  0.391399

      74131     74154     74156  ...    193851    193853    193859    193863  \
0  0.684606  0.504912  0.703499  ...  0.384005  0.275813  0.207296  0.292032
1  0.547081  0.928407  0.493812  ...  0.223517  0.218926  0.400144  0.218926
2  0.722856  0.495514  0.676794  ...  0.295126  0.354899  0.192668  0.290295
3  0.391833  0.349537  0.349529  ...  0.336959  0.234027  0.235957  0.336090
4  0.558148  0.533903  0.616745  ...  0.307385  0.363949  0.220423  0.219611

     193866    193872    193878    193880    193882    193886
0  0.318092  0.331276  0.203644  0.328644  0.328644  0.371958
1  0.206993  0.222693  0.395702  0.218926  0.218926  0.238998
2  0.177268  0.336933  0.188233  0.332570  0.332570  0.383265
3  0.224494  0.377260  0.234027  0.378365  0.306196  0.329266
4  0.336807  0.216756  0.219611  0.219611  0.282111  0.308368

[5 rows x 17426 columns]
   Unnamed: 0  movieId                              title  \
0           0    73268                 Daybreakers (2010)
1           1    73319                   Leap Year (2010)
2           2    73321            Book of Eli, The (2010)
3           3    73744  If You Love (Jos rakastat) (2010)
4           4    73929                      Legion (2010)

                           genres
0    Action|Drama|Horror|Thriller
1                  Comedy|Romance
2          Action|Adventure|Drama
3           Drama|Musical|Romance
4  Action|Fantasy|Horror|Thriller

In [8]:
#get recommendation for Inception

movie_recommender(7361)

,movieId,title,genres
3,143377,Glen Campbell: I'll Be Me (2014),Documentary|Drama
0,143377,Happy (2011),Documentary|Drama
2,143377,"Overnighters, The (2014)",Documentary|Drama
4,143377,The Last Man on the Moon (2016),Documentary|Drama
1,143377,"Lady in Number 6: Music Saved My Life, The (2014)",Documentary|Drama